# Smart Cushion App - Environment Variables Template
# Copy this file to .env and modify values as needed.

VITE_WS_AUTH_TOKEN=
VITE_FIREBASE_DISCOVERY_URL=https://cuushion-smart-discovery-default-rtdb.asia-southeast1.firebasedatabase.app/
